body{
    background-color: #DDA0DD;
}

img{
    width: 20%;
    
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h1,h2{

    text-align: center;
    font-family: 'Courgette', cursive;

}

p{
    font-family: 'Cookie', cursive;
    font-size: 1.4em;
    text-align: justify;
}